.Searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4.375rem;
    width: 100vw;
  }
  
  .Searchbar__Welcome {
    font-size: 2.25rem;
    color: var(--font-color);
    font-weight: 400;
    transition: color 0.5s ease;
  }
  
  .Searchbar__Welcome span {
    font-weight: bold;
  }
  
  .Searchbar__Image {
    margin-top: 1rem;
    width: 32vw;
    max-width: 30rem;
  }
  
  .Searchbar__Wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--font-color);
    border-radius: var(--border-radius);
    width: 60vw;
    max-width: 40rem;
    transition: color 0.5s ease;
  }

  .Searchbar__Query{
    display: flex;
    align-items: stretch;
  }
  
  .Searchbar__Input {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    width: 84%;
    padding-left: 2rem;
    height: 3.25rem;
    border: none;
    color: var(--font-color);
    font-size: 1.125rem;
    font-weight: 100;
    background-color: transparent;
    transition: color 0.5s ease;
  }

  .Searchbar__Icon{
    background: url("../../images/suggestion_icon.svg");
    background-size: var(--filter-icon-bkgd-size-sm);
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: center;  
    padding-left: 3rem;
    cursor: pointer;
  }
  
  ::placeholder {
    color: var(--font-color);
    transition: color 0.5s ease;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--font-color);
    transition: color 0.5s ease;
  }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--font-color);
    transition: color 0.5s ease;
  }
  
  .Searchbar__Btn {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    width: 16%;
    background-color: rgb(87, 46, 229);
    border: none;
    transition: border 0.5s ease;
    cursor: pointer;
  }

  .Searchbar__CloseSuggestions{ 
    border-radius: 0 var(--border-radius) 0 0;
    width: 16%;
    background: var(--bkgd-color);
    border: none;
    transition: border 0.5s ease;
    cursor: pointer;
  }

  .Searchbar__CloseSuggestions:hover{
    background-color: var(--font-color); 
  }

  .Searchbar__CloseSuggestions svg{
    fill:var(--font-color);
  }

  .Searchbar__CloseSuggestions:hover svg{
    fill:var(--bkgd-color);
  }

  .Searchbar__SuggestionItem{
    padding-left: 2rem;
    color: var(--font-color);
    font-size: 1.125rem;
    font-weight: 100;
    background-color: transparent;
    cursor: pointer;
  }

  .Searchbar__SuggestionItem:hover{
    background-color: var(--font-color);
    color: var(--bkgd-color);
  }

  .Searchbar__SuggestionItem:last-of-type{
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding-bottom: .5rem;
  }
  
  .Searchbar__SuggestionItem:first-of-type{
    /* margin-top: -.3rem; */
    padding-top: .3rem;
    border-top: 1.5px solid lightgray;
  }

  .Searchbar__SuggestionItem::before{
    content: url('../../images/suggestion_icon.svg');
    margin: 0 1rem 0 -1rem;
  }