/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* Defining general styles and custom properties */
:root {
  /* Font Colors */
  --light-font-color: rgb(87, 46, 229);
  --dark-font-color: rgb(255, 255, 255);
  --font-color: rgb(87, 46, 229);
  /* Background Colors */
  --light-bkgd-color: rgb(255, 255, 255);
  --dark-bkgd-color: rgb(55, 55, 55);
  --bkgd-color: rgb(255, 255, 255);
  /* Utils */
  --search-btn-color: rgb(87, 46, 229);
  --border-radius: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  border-top: 0.375rem solid rgba(104, 9, 225, 1);
  background-color: var(--bkgd-color);
  transition: background-color 1s ease;
}

button:active{
  transform: scale(0.98);
}
